.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: #ededfb;
}
/* header style */
header{
    width: 100%;
    max-width: 1440px;
    max-height: 680px;
    padding-bottom: 70px;
    margin: 0;
    background-image: url(../Assets/Hero-bg.png);
}
nav{
    max-width: 1140px;
    max-height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.btn{
    height: 40px;
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    border: none;
}
.section-01{
    font-size: 55px;
    font-weight: bold;
    align-items: center;
    text-align: center;

    padding: auto;
}
/* mainstyle */
.section-02{
    max-width: 1140px;
    max-height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0 auto;
    
}
.section-01-img{
    width: 400px;
    height: 310px;
    border-radius: 25px;
    position: relative;
}
/* section-03-style */
.section-03{
    max-width: 1140px;
    max-height: 250px;
    text-align: center;
    margin: 80px auto 0 auto;
     padding: 30px 0;
     border-radius: 10px;
     background-color:rgba(78, 71, 255, 0.08);
    
}
.section-03-parent-div{
    width: 850px;
    height: 150px;
 justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    }
    .section-03-child-div p{
        padding: 0;
        margin: 0;
    }
    /* section-04-style */
    .section-04{
        max-width: 1140px;
        max-height: 340px;
        margin: 80px auto 0 auto;
        text-align: center;
    }
    .card-container{
        max-width: 1140px;
        height: 240px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .card{
        background-color: white;
        width: 360px;
        height: 180px;
        padding: 24px 24px;
        border-radius: 10px;

    }
    .card-comment{
        text-align: left;
    }
    .card-image{
        display: flex;
    }
    .card-review{
        display: flex;
        gap: 5px;
    }
    .card-review img{
        border-radius: 50%;
    }
    .card-img-cmnt p{
        padding: 0;
        margin: 0;
    }
    .card-img-cmnt{
        text-align: left;
    } 
    /* section-05 style */
    .section-05{
        max-width: 1140px;
        max-height: 680px;
        margin: 80px auto 0 auto;
        text-align: center;
        background-color: white;
    }
    .section-05 img{
        width: 840px ;
        height: 360px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .section-05 p{
        margin: 0;
        padding: 0;
    }

    /* .section-06 style */
    .section-06{
        max-width: 1140px;
        max-height: 630px;
        margin: 80px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-06 label{
        display: block;
        margin-top: 10px;
    }
    .section-06 p{
        font-weight: bold;
        font-size: 97px;
    }
    .section-06 input{
        width: 480px;
        height: 40px;
        border-radius: 5px;
        border: none;
       padding-top: 5px;
       padding-left: 10px;
    }
    .section-06 textarea{
        height: 80px; 
        width: 480px; 
        border-radius: 5px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .section-07{
         width: 100%;
    max-width: 1440px;
    max-height: 680px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;

    }
    .footer li{
        list-style: none;
        
    }
    .footer-list{
        display: flex;
        margin-left: 480px;
        gap: 22px;
        margin-bottom: 80px; 
        margin-top: 20px;
        color: #8987A1;
    }
    .section-07 p{
        margin: 0;
        padding: 0;
    }
    
